@import url('bootstrap/telabotanica/bootstrap.min.css');

.main-body {
	padding-top: 65px;
}

.navbar nav li ul {
	display: none;
}

.topnavpage {
	width:100%;
}

.footer a {
	margin: 0 8px;
}

@media (max-width:767px) {
	.main-body {
		padding-top:0;
	}
}
@media (min-width: 768px) and (max-width: 980px) {
	.main-body {
		padding-top:0;
	}
}
@media (min-width: 980px) {
	.modal {
		width:800px;
		margin-left:-400px;
	}
}

.navbar-search .btn-group {
	margin-top:0;
	margin-right:10px;
}
.nav-header{
	text-transform:none;
}
.nav li + .nav-header {
	margin-top:0;
}
.sidebar-nav {
	padding: 5px;
}
.toc.well {
	margin: 45px 2px;
	padding: 5px;
	top: 5px;
}
.toc.well .toc-title{
	margin: 2px;
}

.active-link {
 background-color: rgb(238,238,238);
 color: rgb(250,171,60);
}
